# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
*_tests

#built or generated project files
.deps/*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/
build/
/pcb2gcode
/wkt_to_svg
tests/data/gerbv_example/*/old
tests/data/gerbv_example/*/new
tests/data/gerbv_example/*/*.png
tests/data/gerbv_example/*/*.ngc
tests/data/gerbv_example/*/*.nc
tests/data/gerbv_example/*/*.svg
*.orig

#make check output files
*.log
*.trs
*_input.svg
*_output.svg

#make check-with-coverage files
*.gcno
*.gcda
/pcb2gcode-*-coverage.info
/pcb2gcode-*-coverage

#editor or browser files
.directory

#gerberimporter_tests outputs
/*.gbr.png
.clangd
.vscode/c_cpp_properties.json

#clangd cache directory
/.cache/
